// Load fonts using @font-face rules
// typography.js will take care of everything else
// 
// For Google Fonts @font-face rules, simply visit the URL of the link
// (ex. https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i )
// 
// Boom. There's your rules
// 
// IMPORTANT: You will need to edit the font-family names to make all the staging work!
// Also, consider adding `font-display: fallback;` to all of your font-face declarations

// SET @FONT-FACE
/* latin-ext */
@font-face {
  font-family: 'LatoItalic';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback;
}

/* latin */
@font-face {
  font-family: 'LatoItalic';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback;
}

/* latin-ext */
@font-face {
  font-family: 'LatoBoldItalic';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback;
}

/* latin */
@font-face {
  font-family: 'LatoBoldItalic';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback;
}

/* latin-ext */
@font-face {
  font-family: 'LatoBold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: fallback;
}

/* latin */
@font-face {
  font-family: 'LatoBold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: fallback;
}

// In setting baseline values, keep in mind what your CRITICAL font is (stage 1)
// Everything else is loaded in stage 2
// This is a fantastic tool for minimizing FOUT https://meowni.ca/font-style-matcher/



  // Set your baseline here

  body,
  button,
  input,
  select,
  textarea {
    color: $offblack;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    font-feature-settings: "kern", "liga", "clig", "calt"; // make it pretty


    // Critical Stage 1 font
    .fonts-stage-1 & {
      font-family: 'Lato', sans-serif;
      letter-spacing: 0;
    }

    .fonts-stage-2 & {
      strong, b {
        font-family: LatoBold, sans-serif;
        font-weight: 700;
      }

      em {
        font-family: LatoItalic, sans-serif;
        font-style: italic;
      }

      strong em, em strong {
        font-family: LatoBoldItalic, sans-serif;
        font-weight: 700;
        font-style: italic;
      }

    }
  }
  
  /*********************
  LINK STYLES
  *********************/

  a, a:visited {
    color: $blue;
    transition: all 0.3s ease;

    /* on hover */
    &:hover, &:focus {
      color: darken($blue, 10%);
      transition: all 0.3s ease;
    }

    /* on click */
    &:active {

    }

    /* mobile tap color */
    &:link {
      /*
      this highlights links on iPhones/iPads.
      so it basically works like the :hover selector
      for mobile devices.
      */
      -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
    }
  }

  /******************************************************************
  H1, H2, H3, H4, H5 STYLES
  ******************************************************************/

  h1, .h1, 
  h2, .h2, 
  h3, .h3, 
  h4, .h4, 
  h5, .h5 {
    text-rendering: optimizelegibility;
    font-weight: 500;

    /* removing text decoration from all headline links */
    a {
      text-decoration: none;
      color: inherit;
    }
  }


  // Heading are based on their container (ems) ... watch stacking font-sizes!
  h1, .h1 {
    font-size: 2.5em;
    line-height: 1.333em;
  }

  h2, .h2 {
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em;
  }

  h3, .h3 {
    font-size: 1.125em;
  }

  h4, .h4 {
    font-size: 1.1em;
    font-weight: 700;
  }

  h5, .h5 {
    font-size: 0.846em;
    line-height: 2.09em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }


  //
  // Modified text
  // ==========================================================================



  sub,
  sup {
    font-size: 83.3333%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }



  //
  // Other Text Elements
  // ==========================================================================


  abbr[title] {
    border-bottom: 1px dotted; // FIX
    text-decoration: none; // FIX
  }

  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace; // FIX
    font-size: 1em; // FIX
  }

  hr {
    height: 0; // FIX
    overflow: visible; // FIX
    margin: 2em 0;
  }


  blockquote {
      margin: 0;
      color: $blue;
      font-size: 18px;
  }


