.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-youtube2 {
	width: 2.5087890625em;
}

.icon-star {
	width: 0.9285714285714285em;
}

.icon-star-o {
	width: 0.9285714285714285em;
}

.icon-user {
	width: 0.7142857142857142em;
}

.icon-home {
	width: 0.9285714285714285em;
}

.icon-map-marker {
	width: 0.5714285714285714em;
}

.icon-chevron-left {
	width: 0.75em;
}

.icon-chevron-right {
	width: 0.6785714285714285em;
}

.icon-plus-circle {
	width: 0.8571428571428571em;
}

.icon-minus-circle {
	width: 0.8571428571428571em;
}

.icon-phone {
	width: 0.7857142857142857em;
}

.icon-pinterest {
	width: 0.8571428571428571em;
}

.icon-google-plus {
	width: 1.2857142857142856em;
}

.icon-caret-down {
	width: 0.5714285714285714em;
}

.icon-caret-up {
	width: 0.5714285714285714em;
}

.icon-caret-left {
	width: 0.39285714285714285em;
}

.icon-caret-right {
	width: 0.3214285714285714em;
}

.icon-sort {
	width: 0.5714285714285714em;
}

.icon-sort-desc {
	width: 0.5714285714285714em;
}

.icon-sort-asc {
	width: 0.5714285714285714em;
}

.icon-linkedin {
	width: 0.8571428571428571em;
}

.icon-angle-left {
	width: 0.375em;
}

.icon-angle-right {
	width: 0.33928571428571425em;
}

.icon-angle-up {
	width: 0.6428571428571428em;
}

.icon-angle-down {
	width: 0.6428571428571428em;
}

.icon-youtube {
	width: 0.8571428571428571em;
}

.icon-instagram {
	width: 0.8571428571428571em;
}

.icon-slack {
	width: 0.9285714285714285em;
}

.icon-map-pin {
	width: 0.5714285714285714em;
}

.icon-user-o {
	width: 0.8571428571428571em;
}
