/* GRID */
body,
button,
input,
select,
textarea {
  color: #111111;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
          font-feature-settings: "kern", "liga", "clig", "calt"; }
  .wf-active body, .wf-active
  button, .wf-active
  input, .wf-active
  select, .wf-active
  textarea {
    font-family: Tahoma, sans-serif;
    letter-spacing: 0; }

body#tinymce.wp-editor {
  /* "RESET" -- normalization */
  /*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
  /* Typography & Links */
  /* Tables */
  /* buttons */ }
  body#tinymce.wp-editor html,
  body#tinymce.wp-editor body,
  body#tinymce.wp-editor p,
  body#tinymce.wp-editor ol,
  body#tinymce.wp-editor ul,
  body#tinymce.wp-editor li,
  body#tinymce.wp-editor dl,
  body#tinymce.wp-editor dt,
  body#tinymce.wp-editor dd,
  body#tinymce.wp-editor blockquote,
  body#tinymce.wp-editor figure,
  body#tinymce.wp-editor fieldset,
  body#tinymce.wp-editor legend,
  body#tinymce.wp-editor textarea,
  body#tinymce.wp-editor pre,
  body#tinymce.wp-editor iframe,
  body#tinymce.wp-editor hr,
  body#tinymce.wp-editor h1,
  body#tinymce.wp-editor h2,
  body#tinymce.wp-editor h3,
  body#tinymce.wp-editor h4,
  body#tinymce.wp-editor h5,
  body#tinymce.wp-editor h6 {
    margin: 0;
    padding: 0; }
  body#tinymce.wp-editor h1,
  body#tinymce.wp-editor h2,
  body#tinymce.wp-editor h3,
  body#tinymce.wp-editor h4,
  body#tinymce.wp-editor h5,
  body#tinymce.wp-editor h6 {
    font-size: 100%;
    font-weight: normal; }
  body#tinymce.wp-editor button,
  body#tinymce.wp-editor input,
  body#tinymce.wp-editor select,
  body#tinymce.wp-editor textarea {
    margin: 0; }
  body#tinymce.wp-editor html {
    box-sizing: border-box; }
  body#tinymce.wp-editor *, body#tinymce.wp-editor *:before, body#tinymce.wp-editor *:after {
    box-sizing: inherit; }
  body#tinymce.wp-editor iframe {
    border: 0; }
  body#tinymce.wp-editor table {
    border-collapse: collapse;
    border-spacing: 0; }
  body#tinymce.wp-editor td,
  body#tinymce.wp-editor th {
    padding: 0;
    text-align: left; }
  body#tinymce.wp-editor .site-content {
    /*********************
  LINK STYLES
  *********************/
    /******************************************************************
  H1, H2, H3, H4, H5 STYLES
  ******************************************************************/ }
    body#tinymce.wp-editor .site-content .site-content * + * {
      margin-top: 24px; }
    body#tinymce.wp-editor .site-content a, body#tinymce.wp-editor .site-content a:visited {
      color: #0074D9;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      /* on hover */
      /* on click */
      /* mobile tap color */ }
      body#tinymce.wp-editor .site-content a:hover, body#tinymce.wp-editor .site-content a:focus, body#tinymce.wp-editor .site-content a:visited:hover, body#tinymce.wp-editor .site-content a:visited:focus {
        color: #0059a6;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      body#tinymce.wp-editor .site-content a:link, body#tinymce.wp-editor .site-content a:visited:link {
        /*
      this highlights links on iPhones/iPads.
      so it basically works like the :hover selector
      for mobile devices.
      */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
    body#tinymce.wp-editor .site-content h1, body#tinymce.wp-editor .site-content .h1,
    body#tinymce.wp-editor .site-content h2, body#tinymce.wp-editor .site-content .h2,
    body#tinymce.wp-editor .site-content h3, body#tinymce.wp-editor .site-content .h3,
    body#tinymce.wp-editor .site-content h4, body#tinymce.wp-editor .site-content .h4,
    body#tinymce.wp-editor .site-content h5, body#tinymce.wp-editor .site-content .h5 {
      text-rendering: optimizelegibility;
      font-weight: 500;
      /* removing text decoration from all headline links */ }
      body#tinymce.wp-editor .site-content h1 a, body#tinymce.wp-editor .site-content .h1 a,
      body#tinymce.wp-editor .site-content h2 a, body#tinymce.wp-editor .site-content .h2 a,
      body#tinymce.wp-editor .site-content h3 a, body#tinymce.wp-editor .site-content .h3 a,
      body#tinymce.wp-editor .site-content h4 a, body#tinymce.wp-editor .site-content .h4 a,
      body#tinymce.wp-editor .site-content h5 a, body#tinymce.wp-editor .site-content .h5 a {
        text-decoration: none;
        color: inherit; }
    body#tinymce.wp-editor .site-content h1, body#tinymce.wp-editor .site-content .h1 {
      font-size: 2.5em;
      line-height: 1.333em; }
    body#tinymce.wp-editor .site-content h2, body#tinymce.wp-editor .site-content .h2 {
      font-size: 1.75em;
      line-height: 1.4em;
      margin-bottom: 0.375em; }
    body#tinymce.wp-editor .site-content h3, body#tinymce.wp-editor .site-content .h3 {
      font-size: 1.125em; }
    body#tinymce.wp-editor .site-content h4, body#tinymce.wp-editor .site-content .h4 {
      font-size: 1.1em;
      font-weight: 700; }
    body#tinymce.wp-editor .site-content h5, body#tinymce.wp-editor .site-content .h5 {
      font-size: 0.846em;
      line-height: 2.09em;
      text-transform: uppercase;
      letter-spacing: 2px; }
    body#tinymce.wp-editor .site-content sub,
    body#tinymce.wp-editor .site-content sup {
      font-size: 83.3333%;
      line-height: 0;
      position: relative;
      vertical-align: baseline; }
    body#tinymce.wp-editor .site-content sub {
      bottom: -.25em; }
    body#tinymce.wp-editor .site-content sup {
      top: -.5em; }
    body#tinymce.wp-editor .site-content abbr[title] {
      border-bottom: 1px dotted;
      text-decoration: none; }
    body#tinymce.wp-editor .site-content code,
    body#tinymce.wp-editor .site-content kbd,
    body#tinymce.wp-editor .site-content pre,
    body#tinymce.wp-editor .site-content samp {
      font-family: monospace, monospace;
      font-size: 1em; }
    body#tinymce.wp-editor .site-content hr {
      height: 0;
      overflow: visible;
      margin: 2em 0; }
    body#tinymce.wp-editor .site-content blockquote {
      margin: 0;
      color: #0074D9;
      font-size: 18px; }
  body#tinymce.wp-editor .button {
    padding: .25em 1em;
    background-color: grey;
    display: inline-block;
    text-decoration: none;
    color: contrasting-text-color(grey);
    border: 2px solid grey;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    body#tinymce.wp-editor .button:hover {
      background: #5a5a5a;
      border-color: #5a5a5a;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: contrasting-text-color(#5a5a5a); }
    body#tinymce.wp-editor .button.-hollow {
      background: transparent;
      color: grey;
      border-width: 2px; }
      body#tinymce.wp-editor .button.-hollow:hover {
        background: grey;
        color: contrasting-text-color(grey);
        border-color: grey; }
    body#tinymce.wp-editor .button.-small {
      font-size: 85%; }
    body#tinymce.wp-editor .button.-large {
      font-size: 120%; }
    body#tinymce.wp-editor .button.-narrow {
      padding: 0.25em 0.5em; }
    body#tinymce.wp-editor .button.-wide {
      padding: 0.25em 2em; }
    body#tinymce.wp-editor .button.-full-width {
      display: block;
      width: 100%;
      text-align: center;
      margin: 1em 0; }
/*# sourceMappingURL=editor-style.css.map */