.button {
  padding: .25em 1em;
  background-color: grey;
  display: inline-block;
  text-decoration: none;
  color: contrasting-text-color(grey);
  border: 2px solid grey;
  border-radius: 2px;
  transition: all 0.3s ease;
  &:hover {
    background: darken(grey, 15%);
    border-color: darken(grey, 15%);
    transition: all 0.3s ease;
    color: contrasting-text-color( darken(grey, 15%));
  }
  &.-hollow {
    background: transparent;
    color: grey;
    border-width: 2px;
    &:hover {
      background: grey;
      color: contrasting-text-color(grey);
      border-color: grey;
    }
  }

  &.-small {
    font-size: 85%;
  }
  &.-large {
    font-size: 120%;
  }
  &.-narrow {
    padding: 0.25em 0.5em;
  }
  &.-wide {
    padding: 0.25em 2em;
  }
  &.-full-width {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }
}

@mixin button-color($color) {
  background-color: $color;
  color: contrasting-text-color($color);
  border-color: $color;
  &:hover {
    background: darken($color, 15%);
    border-color: darken($color, 15%);
    color: contrasting-text-color( darken($color, 15%));
  }
  &.-hollow {
    background: transparent;
    color: $color;
    border-width: 2px;
    &:hover {
      background: $color;
      color: contrasting-text-color($color);
      border-color: $color;
    }
  }
}

// .button.-red {
//   @include button-color(red);
// }